.Container {
    width: 32%;
    border: 2px ridge #3E50F3;
    margin: 3px;
    padding: 5px;
    border-radius: 3px;
    position:relative;
}

.Container:hover {
    cursor: pointer;
    background:#53ea93;
}

.Title {
    padding-top: 6px;
    text-align: center;
}

.Button {
    visibility:hidden;
    position:absolute;
    font-size:30px;
    top:0;
    right:15px;
    cursor:pointer;
}

.Button:before {
    content: "\2606";
    position: absolute;
    visibility:visible;
}

.Button:checked:before {
    content: "\2605";
    position: absolute;
}