.Container {
    width: 31%;
    border: 2px ridge #3E50F3;
    margin: 3px;
    padding: 5px;
    border-radius: 3px;
    position:relative;
    max-height: 30vh;
    background-color: #a879c7;
    z-index: 5;
}

.ContainerInMove {
    width: 31%;
    border: 2px ridge #3E50F3;
    margin: 3px;
    padding: 5px;
    border-radius: 3px;
    position:relative;
    max-height: 30vh;
    background-color: #a879c7;
    z-index: 0;
    opacity: 0;
}

.Container:hover {
    cursor: pointer;
    background:#53ea93;
}

.FindText {
    color: yellow;
}

.Title {
    padding-top: 6px;
    text-align: center;
}

.Button {
    visibility:hidden;
    position:absolute;
    font-size:30px;
    top:0;
    right:15px;
    cursor:pointer;
}

.Button:before {
    content: "\2606";
    position: absolute;
    visibility:visible;
}

.Button:checked:before {
    content: "\2605";
    position: absolute;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
.searchIcon {
    padding-top: 5px;
    width: 20px;
    height: 20px;
}

.searchIcon:focus {
    outline: none;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width:885px) {
    .Container {
        width: 46%;
    }
}

@media (max-width:527px) {
    .Container {
        width: 95%;
    }
}