.Container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}

.Window {
    position:relative;
    left: 20%;
    top: 20%;
    width: 50%;
    background: white;
    padding: 2rem;
    border: 4px solid blue;
    border-radius: 8px;
    text-align: center;
}
